DATABASE_URL=

DEBUG=
PORT=

NODE_ENV=
GLOBAL_PREFIX=

AUTH_PRIVATE_KEY=
OTP_CACHE_KEY=
JWT_SECRET=

AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_ENDPOINT=
AWS_S3_BUCKET_REGION=
AWS_S3_BUCKET_IAM_ACCESSKEYID=
AWS_S3_BUCKET_IAM_SECRETACCESSKEY=

# sendgrid email
SENDGRID_API_KEY=
SENDGRID_CLIENT_EMAIL=

# cache work
REDIS_DB_HOST=
REDIS_DB_PORT=
GLOBAL_CACHE_TTL=
GLOBAL_CACHE_MAX=
REDIS_URL=